<%- include("header") -%>

<h2>User Data</h2>
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped mt-5">
      <thead class="table__head">
        <tr class="winner__table">
          <th>S/N</th>
          <th>User Name</th>
          <th>Email</th>
          <th>User Info</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% let i=1; for(let data of UserData){ %>
        <tr class="winner__table">
          <td><%= [i] %></td>
          <td><%= data.userName %></td>
          <td><%= data.email %></td>
          <td><%= data.userInfo %></td>
          <th>
            <a href="/updateUser/<%=data.id%>">Update</a> /
            <a href="/deleteUser/<%=data.id%>">Delete</a>
          </th>
        </tr>
        <% i++; } %> <%- include("footer") -%>
      </tbody>
    </table>
  </div>
</div>

<%- include("footer") -%>
